<li class="nav">
	<a class="nav-link collapsed" data-toggle="collapse" href="#formsExamples" aria-expanded="false">
	<i class="nc-icon nc-notes"></i>
		<p>
		Forms
		<b class="caret"></b>
		</p>
	</a>
	<div class="collapse" id="formsExamples" style="">
		<ul class="nav">
			<li class="nav ">
				<a class="nav-link" href="./forms/regular.html">
				<span class="sidebar-mini">Rf</span>
				<span class="sidebar-normal">Regular Forms</span>
				</a>
			</li>
			<li class="nav ">
				<a class="nav-link" href="./forms/extended.html">
				<span class="sidebar-mini">Ef</span>
				<span class="sidebar-normal">Extended Forms</span>
				</a>
			</li>
		</ul>
	</div>
</li>